s@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

#header {
    background: white;
    color: black;
    padding: 5px 5px 0 0;
    text-align: center;
    float: right;
}
#landing {
    padding: 0 0 0 5rem;
    background: #fff;
}
body {
    background: #eee;
    font-family: 'Roboto Condensed', sans-serif;
    height: auto;
    margin: 5px;
    max-width: 100%;
    padding: 5px;
}
main {
    margin: 5px;
    max-width: 100%;
}
h1 {
    font-weight: 400;
    font-size: 2.5rem;
    margin: 0;
    text-transform: uppercase;
}
h2 {
    font-weight: 400;
    font-size: 2rem;
    margin: 0;
    text-transform: capitalize;
}
h3 {
    background-color: firebrick;
    border: 0mm;
    color: white;
    font-size: 1.3rem;
    padding: 2mm;
    text-align: left;
}
.caption {
    background-color: firebrick;
    border: 0mm;
    color: white;
    padding: 0mm;
    text-align: left;
}
.redText {
    color: #cb0050;
    display: block;
    padding: 2mm;
    text-align: left;
    text-decoration: none;
}
p.whiteText {
    color: white;
}
a {
    text-decoration: none;
}
i {
    font-size: 2rem;
}
li {
    list-style-type: none;
}
footer {
    color: #333;
    margin: 0;
    padding: 2rem 1rem;
}
ul.top {
    background-color:white;
    float: right;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0 2rem 0 0;
    vertical-align: middle;
}
li.top {
    border: 1px solid lightgrey; 
    float: right;
}
li.top a {
    color: black;
    display: inline;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}
li.top a:hover {
    background-color: grey;
}
.searchContainer {
    background-image: url(strandpromenad-1-anna-alexander-olsson-1800x350-1-1800x350.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
    height: 300px;
    vertical-align: middle;
}
.btnSearch {
    color: white;
    background-color: #ec6701;
    border: 1px solid #ec6701;
    cursor: pointer;
    display: inline-block;
    padding: 10px 14px;
}
input[type=text] {
    border: 1px solid black; 
    border-radius: 2px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    margin: 8px 0;
    padding: 10px 10px;
}
.searchContainer, .btnSearch {
    font-size: 1rem;
}
.galleryContainer {
    align-content: center;
    background-repeat: no-repeat;
    border: 1px solid black; 
    color: white;
    flex-wrap: wrap;
    font-size: 1.7rem;
    height: auto;
    margin: 0 auto;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 900px;
}
.galleryContainer .centent {
    background: #cb0050, 0.5;
    bottom: 0;
    color :white;
    padding: 20px;
    position: absolute;
    width: 100%;
}
.imageContainer {
    background-color: white;
    background-size: cover;
    border: 1px solid black;
    position: relative;
    display: inline-block;
    height: 275px;
    margin: 5mm;
    text-align: left;
    vertical-align: top;
    width: 320px;
}

.listdataContainer {
    border: 1px solid black;
    display: inline-block;
    height: 300;
    text-align: left;
    vertical-align: top;
    width: 510px;
}
.pinkContainer {
    background-color: #cb0050;
    color: white;
    font-size: 1rem;
    flex-wrap: wrap;
    text-align: left;
    width: 1030px;
} 
.whiteContainer {
    background-color: white;
    color: black;
    flex-wrap: wrap;
    text-align: left;
} 
.dataContainer {
    display: inline-block;
    height: 300;
    text-align: left;
    vertical-align: top;
    width: 500px;
}
.footerDataContainer {
    display: inline-block;
    height: 300;
    text-align: left;
    vertical-align: top;
    width: 340px;
}
.dataSmallContainer {
    border: 1px solid grey;
    display: inline-block;
    height: 250;
    text-align: left;
    vertical-align: top;
    width: 250px;
}

/*
span::before {
    width: 0.4mm;
    height: 0.4mm;
    content: "➔";
}
*/

.verticalCenter {
    left: 30%;
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
ul.tableList {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color:white;
    color: black;
    text-decoration: none;
}
li.tableList {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: lightgrey;
    padding: 7px 3px 7px 0;
    list-style-position: outside;
    text-decoration: none;
}
.btnPlain {
    color: black;
    border: none;
    background-color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    float: right;
}
ul.mainMenu {
    align-content: center;
    background-color:firebrick;
    display: flex;
    justify-content: space-around;
    float: left;
    height: 100%;
    list-style-type: none;
    margin: auto;
    overflow: hidden;
    padding: 10px;
    vertical-align: middle;
    width: 98%;
}
li.mainMenu {
    position: relative;
    float: left;
    padding: 5px;
}
li.mainMenu a {
    align-items: center;
    color: white;
    display: flex;
    flex: 1;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: auto;
}
li.mainMenu a:hover {
    background-color: grey;
}
table, td {
    border: 1px solid lightgray;
    text-align: left;
    background-color: white;
}
table {
    border-collapse: collapse;
    width: 100%;
}
td {
    padding: 10px;
}
.greyBox {
    background-color: rgba(0,0,0,.05);
    border: 1px solid white;
    margin: 1mm;
}
